@import "tailwindcss/base";
* {
  font-family: "Anuphan";
}
html {
  scroll-behavior: smooth;
  outline: none;
  overflow-x: hidden;
  @apply text-white bg-black;
}
@tailwind components;
@tailwind utilities;
